.page-header {
    background-color:#519872;
    color: white;
    min-height: 15px;;
    width: 100%;
    display: flex;
    align-items: center;
}

.page-header > img {
    padding-left: 350px;
}

.header-title {
    color: white;
    padding-left: 25px;
    font-size: 32px;
}