.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top > h1 {
    color: #3B5249;
    font-size: 45px;
    font-weight: 300;
}

.top ln {
    height: .5px;
}

.dashboard h3 {
    text-align: left;
}

/* .houses {
    justify-content: center;
    align-content: center;
    align-items: center;
} */